$col_1: 100% / $grid-columns * 1 - $gutter;
$col_2: 100% / $grid-columns * 2 - $gutter;
$col_3: 100% / $grid-columns * 3 - $gutter;
$col_4: 100% / $grid-columns * 4 - $gutter;
$col_5: 100% / $grid-columns * 5 - $gutter;
$col_6: 100% / $grid-columns * 6 - $gutter;
$col_7: 100% / $grid-columns * 7 - $gutter;
$col_8: 100% / $grid-columns * 8 - $gutter;
$col_9: 100% / $grid-columns * 9 - $gutter;
$col_10: 100% / $grid-columns * 10 - $gutter;
$col_11: 100% / $grid-columns * 11 - $gutter;
$col_12: 100% / $grid-columns * 12 - $gutter;
$col_13: 100% / $grid-columns * 13 - $gutter;
$col_14: 100% / $grid-columns * 14 - $gutter;
$col_15: 100% / $grid-columns * 15 - $gutter;
$col_16: 100% / $grid-columns * 16 - $gutter;
$col_17: 100% / $grid-columns * 17 - $gutter;
$col_18: 100% / $grid-columns * 18 - $gutter;
$col_19: 100% / $grid-columns * 19 - $gutter;
$col_20: 100% / $grid-columns * 20 - $gutter;
$col_21: 100% / $grid-columns * 21 - $gutter;
$col_22: 100% / $grid-columns * 22 - $gutter;
$col_23: 100% / $grid-columns * 23 - $gutter;
$col_24: 100% / $grid-columns * 24 - $gutter;
$col_quarter: 25% - $gutter;
$col_third: 100% / 3 - $gutter;
$col_half: 50% - $gutter;
$col_two_thirds: 100% / 3 * 2 - $gutter;
$col_three_quarters: 75% - $gutter;
$col_full: 100% - $gutter;
$col_gldn_sml: 38% - $gutter;
$col_gldn_lrg: 62% - $gutter;