$viewport: m;
[class*='col_'] {
  position: relative;
  display: block;
  float: left;
  margin: $gutter / 2;
  /*@include box-sizing("border-box");*/ }
[class*='row_'] {
  position: relative;
  display: block;
  float: left;
  margin: 0; }
.container {
  width: $mobile_width; 
  margin-right: auto;
  margin-left: auto;
  /*@include box-sizing("border-box");*/ }
@import "../grid";