.row {
  width: 100%; }
.row_#{$viewport} {
  width: 100%; }
.col_#{$viewport}_1 {
  width: $col_1; }
.col_#{$viewport}_2 {
  width: $col_2; }
.col_#{$viewport}_3 {
  width: $col_3; }
.col_#{$viewport}_4 {
  width: $col_4; }
.col_#{$viewport}_5 {
  width: $col_5; }
.col_#{$viewport}_6{
  width: $col_6; }
.col_#{$viewport}_7 {
  width: $col_7; }
.col_#{$viewport}_8 {
  width: $col_8; }
.col_#{$viewport}_9 {
  width: $col_9; }
.col_#{$viewport}_10 {
  width: $col_10; }
.col_#{$viewport}_11 {
  width: $col_11; }
.col_#{$viewport}_12 {
  width: $col_12; }
.col_#{$viewport}_13 {
  width: $col_13; }
.col_#{$viewport}_14 {
  width: $col_14; }
.col_#{$viewport}_15 {
  width: $col_15; }
.col_#{$viewport}_16 {
  width: $col_16; }
.col_#{$viewport}_17 {
  width: $col_17; }
.col_#{$viewport}_18 {
  width: $col_18; }
.col_#{$viewport}_19 {
  width: $col_19; }
.col_#{$viewport}_20 {
  width: $col_20; }
.col_#{$viewport}_21 {
  width: $col_21; }
.col_#{$viewport}_22 {
  width: $col_22; }
.col_#{$viewport}_23 {
  width: $col_23; }
.col_#{$viewport}_24 {
  width: $col_24; }
.col_#{$viewport}_quarter {
  width: $col_quarter;}
.col_#{$viewport}_third {
  width: $col_third;}
.col_#{$viewport}_half {
  width: $col_half;}
.col_#{$viewport}_two_thirds {
  width: $col_two_thirds;}
.col_#{$viewport}_three_quarters {
  width: $col_three_quarters;}
.col_#{$viewport}_full {
  width: $col_full;}
.col_#{$viewport}_gldn_sml {
  width: $col_gldn_sml; }
.col_#{$viewport}_gldn_lrg {
  width: $col_gldn_lrg; }
[class*='push_#{$viewport}_'] {
  position: relative; }
.push_#{$viewport}_reset {
  left: 0; }
.push_#{$viewport}_1 {
  left: $col_1; }
.push_#{$viewport}_2 {
  left: $col_2; }
.push_#{$viewport}_3 {
  left: $col_3; }
.push_#{$viewport}_4 {
  left: $col_4; }
.push_#{$viewport}_5 {
  left: $col_5; }
.push_#{$viewport}_6 {
  left: $col_6; }
.push_#{$viewport}_7 {
  left: $col_7; }
.push_#{$viewport}_8 {
  left: $col_8; }
.push_#{$viewport}_9 {
  left: $col_9; }
.push_#{$viewport}_10 {
  left: $col_10; }
.push_#{$viewport}_11 {
  left: $col_11; }
.push_#{$viewport}_12 {
  left: $col_12; }
.push_#{$viewport}_13 {
  left: $col_11; }
.push_#{$viewport}_14 {
  left: $col_14; }
.push_#{$viewport}_15 {
  left: $col_15; }
.push_#{$viewport}_16 {
  left: $col_16; }
.push_#{$viewport}_17 {
  left: $col_17; }
.push_#{$viewport}_18 {
  left: $col_18; }
.push_#{$viewport}_19 {
  left: $col_19; }
.push_#{$viewport}_20 {
  left: $col_20; }
.push_#{$viewport}_21 {
  left: $col_21; }
.push_#{$viewport}_22 {
  left: $col_22; }
.push_#{$viewport}_23 {
  left: $col_23; }
.push_#{$viewport}_24 {
  left: $col_24; }
.push_#{$viewport}_quarter {
  left: $col_quarter;}
.push_#{$viewport}_third {
  left: $col_third;}
.push_#{$viewport}_half {
  left: $col_half;}
.push_#{$viewport}_two_thirds {
  left: $col_two_thirds;}
.push_#{$viewport}_three_quarters {
  left: $col_three_quarters;}
.push_#{$viewport}_full {
  left: $col_full;}
[class*='pull_#{$viewport}_'] {
  position: relative; }
.pull_#{$viewport}_reset {
  left: 0; }
.pull_#{$viewport}_1 {
  left: -$col_1; }
.pull_#{$viewport}_2 {
  left: -$col_2; }
.pull_#{$viewport}_3 {
  left: -$col_3; }
.pull_#{$viewport}_4 {
  left: -$col_4; }
.pull_#{$viewport}_5 {
  left: -$col_5; }
.pull_#{$viewport}_6 {
  left: -$col_6; }
.pull_#{$viewport}_7 {
  left: -$col_7; }
.pull_#{$viewport}_8 {
  left: -$col_8; }
.pull_#{$viewport}_9 {
  left: -$col_9; }
.pull_#{$viewport}_10 {
  left: -$col_10; }
.pull_#{$viewport}_11 {
  left: -$col_11; }
.pull_#{$viewport}_12 {
  left: -$col_12; }
.pull_#{$viewport}_13 {
  left: -$col_11; }
.pull_#{$viewport}_14 {
  left: -$col_14; }
.pull_#{$viewport}_15 {
  left: -$col_15; }
.pull_#{$viewport}_16 {
  left: -$col_16; }
.pull_#{$viewport}_17 {
  left: -$col_17; }
.pull_#{$viewport}_18 {
  left: -$col_18; }
.pull_#{$viewport}_19 {
  left: -$col_19; }
.pull_#{$viewport}_20 {
  left: -$col_20; }
.pull_#{$viewport}_21 {
  left: -$col_21; }
.pull_#{$viewport}_22 {
  left: -$col_22; }
.pull_#{$viewport}_23 {
  left: -$col_23; }
.pull_#{$viewport}_24 {
  left: -$col_24; }
.pull_#{$viewport}_quarter {
  left: -$col_quarter;}
.pull_#{$viewport}_third {
  left: -$col_third;}
.pull_#{$viewport}_half {
  left: -$col_half;}
.pull_#{$viewport}_two_thirds {
  left: -$col_two_thirds;}
.pull_#{$viewport}_three_quarters {
  left: -$col_three_quarters;}
.pull_#{$viewport}_full {
  left: -$col_full;}
.nth_#{$viewport}_2:nth-child(2n+2) {
  clear: none; }
.nth_#{$viewport}_3 {
  &:nth-child(3n+2), 
  &:nth-child(3n+3) {
    clear: none; } }
.nth_#{$viewport}_4 {
  &:nth-child(4n+2), 
  &:nth-child(4n+3), 
  &:nth-child(4n+4) {
    clear: none; } }
.nth_#{$viewport}_5 {
  &:nth-child(5n+2), 
  &:nth-child(5n+3), 
  &:nth-child(5n+4), 
  &:nth-child(5n+5) {
    clear: none; } }
.nth_#{$viewport}_6 {
  &:nth-child(6n+2), 
  &:nth-child(6n+3), 
  &:nth-child(6n+4), 
  &:nth-child(6n+5), 
  &:nth-child(6n+6) {
    clear: none; } }
.nth_#{$viewport}_7 {
  &:nth-child(7n+2), 
  &:nth-child(7n+3), 
  &:nth-child(7n+4), 
  &:nth-child(7n+5), 
  &:nth-child(7n+6), 
  &:nth-child(7n+7) {
    clear: none; } }
.nth_#{$viewport}_8 {
  &:nth-child(8n+2), 
  &:nth-child(8n+3), 
  &:nth-child(8n+4), 
  &:nth-child(8n+5), 
  &:nth-child(8n+6), 
  &:nth-child(8n+7), 
  &:nth-child(8n+8) {
    clear: none; } }
.nth_#{$viewport}_9 {
  &:nth-child(9n+2), 
  &:nth-child(9n+3), 
  &:nth-child(9n+4), 
  &:nth-child(9n+5), 
  &:nth-child(9n+6), 
  &:nth-child(9n+7), 
  &:nth-child(9n+8), 
  &:nth-child(9n+9) {
    clear: none; } }
.nth_#{$viewport}_10 {
  &:nth-child(10n+2), 
  &:nth-child(10n+3), 
  &:nth-child(10n+4), 
  &:nth-child(10n+5), 
  &:nth-child(10n+6), 
  &:nth-child(10n+7), 
  &:nth-child(10n+8), 
  &:nth-child(10n+9), 
  &:nth-child(10n+10) {
    clear: none; } }
.nth_#{$viewport}_11 {
  &:nth-child(11n+2), 
  &:nth-child(11n+3), 
  &:nth-child(11n+4), 
  &:nth-child(11n+5), 
  &:nth-child(11n+6), 
  &:nth-child(11n+7), 
  &:nth-child(11n+8), 
  &:nth-child(11n+9), 
  &:nth-child(11n+10), 
  &:nth-child(11n+11) {
    clear: none; } }
.nth_#{$viewport}_12 {
  &:nth-child(12n+2), 
  &:nth-child(12n+3), 
  &:nth-child(12n+4), 
  &:nth-child(12n+5), 
  &:nth-child(12n+6), 
  &:nth-child(12n+7), 
  &:nth-child(12n+8), 
  &:nth-child(12n+9), 
  &:nth-child(12n+10), 
  &:nth-child(12n+11), 
  &:nth-child(12n+12) {
    clear: none; } }
.nth_#{$viewport}_13 {
  &:nth-child(13n+2), 
  &:nth-child(13n+3), 
  &:nth-child(13n+4), 
  &:nth-child(13n+5), 
  &:nth-child(13n+6), 
  &:nth-child(13n+7), 
  &:nth-child(13n+8), 
  &:nth-child(13n+9), 
  &:nth-child(13n+10), 
  &:nth-child(13n+11), 
  &:nth-child(13n+12), 
  &:nth-child(13n+13) {
    clear: none; } }
.nth_#{$viewport}_14 {
  &:nth-child(14n+2), 
  &:nth-child(14n+3), 
  &:nth-child(14n+4), 
  &:nth-child(14n+5), 
  &:nth-child(14n+6), 
  &:nth-child(14n+7), 
  &:nth-child(14n+8), 
  &:nth-child(14n+9), 
  &:nth-child(14n+10), 
  &:nth-child(14n+11), 
  &:nth-child(14n+12),
  &:nth-child(14n+13), 
  &:nth-child(14n+14) {
    clear: none; } }
.nth_#{$viewport}_15 {
  &:nth-child(15n+2), 
  &:nth-child(15n+3), 
  &:nth-child(15n+4), 
  &:nth-child(15n+5), 
  &:nth-child(15n+6), 
  &:nth-child(15n+7), 
  &:nth-child(15n+8), 
  &:nth-child(15n+9), 
  &:nth-child(15n+10), 
  &:nth-child(15n+11), 
  &:nth-child(15n+12),
  &:nth-child(15n+13), 
  &:nth-child(15n+14),
  &:nth-child(15n+15) {
    clear: none; } }
.nth_#{$viewport}_16 {
  &:nth-child(16n+2), 
  &:nth-child(16n+3), 
  &:nth-child(16n+4), 
  &:nth-child(16n+5), 
  &:nth-child(16n+6), 
  &:nth-child(16n+7), 
  &:nth-child(16n+8), 
  &:nth-child(16n+9), 
  &:nth-child(16n+10), 
  &:nth-child(16n+11), 
  &:nth-child(16n+12),
  &:nth-child(16n+13), 
  &:nth-child(16n+14),
  &:nth-child(16n+15),
  &:nth-child(16n+16) {
    clear: none; } }
.nth_#{$viewport}_17 {
  &:nth-child(17n+2), 
  &:nth-child(17n+3), 
  &:nth-child(17n+4), 
  &:nth-child(17n+5), 
  &:nth-child(17n+6), 
  &:nth-child(17n+7), 
  &:nth-child(17n+8), 
  &:nth-child(17n+9), 
  &:nth-child(17n+10), 
  &:nth-child(17n+11), 
  &:nth-child(17n+12),
  &:nth-child(17n+13), 
  &:nth-child(17n+14),
  &:nth-child(17n+15),
  &:nth-child(17n+16),
  &:nth-child(17n+17) {
    clear: none; } }
.nth_#{$viewport}_18 {
  &:nth-child(18n+2), 
  &:nth-child(18n+3), 
  &:nth-child(18n+4), 
  &:nth-child(18n+5), 
  &:nth-child(18n+6), 
  &:nth-child(18n+7), 
  &:nth-child(18n+8), 
  &:nth-child(18n+9), 
  &:nth-child(18n+10), 
  &:nth-child(18n+11), 
  &:nth-child(18n+12),
  &:nth-child(18n+13), 
  &:nth-child(18n+14),
  &:nth-child(18n+15),
  &:nth-child(18n+16),
  &:nth-child(18n+17),
  &:nth-child(18n+18) {
    clear: none; } }
.nth_#{$viewport}_19 {
  &:nth-child(19n+2), 
  &:nth-child(19n+3), 
  &:nth-child(19n+4), 
  &:nth-child(19n+5), 
  &:nth-child(19n+6), 
  &:nth-child(19n+7), 
  &:nth-child(19n+8), 
  &:nth-child(19n+9), 
  &:nth-child(19n+10), 
  &:nth-child(19n+11), 
  &:nth-child(19n+12),
  &:nth-child(19n+13), 
  &:nth-child(19n+14),
  &:nth-child(19n+15),
  &:nth-child(19n+16),
  &:nth-child(19n+17),
  &:nth-child(19n+18),
  &:nth-child(19n+19) {
    clear: none; } }
.nth_#{$viewport}_20 {
  &:nth-child(20n+2), 
  &:nth-child(20n+3), 
  &:nth-child(20n+4), 
  &:nth-child(20n+5), 
  &:nth-child(20n+6), 
  &:nth-child(20n+7), 
  &:nth-child(20n+8), 
  &:nth-child(20n+9), 
  &:nth-child(20n+10), 
  &:nth-child(20n+11), 
  &:nth-child(20n+12),
  &:nth-child(20n+13), 
  &:nth-child(20n+14),
  &:nth-child(20n+15),
  &:nth-child(20n+16),
  &:nth-child(20n+17),
  &:nth-child(20n+18),
  &:nth-child(20n+19),
  &:nth-child(20n+20) {
    clear: none; } }
.nth_#{$viewport}_21 {
  &:nth-child(21n+2), 
  &:nth-child(21n+3), 
  &:nth-child(21n+4), 
  &:nth-child(21n+5), 
  &:nth-child(21n+6), 
  &:nth-child(21n+7), 
  &:nth-child(21n+8), 
  &:nth-child(21n+9), 
  &:nth-child(21n+10), 
  &:nth-child(21n+11), 
  &:nth-child(21n+12),
  &:nth-child(21n+13), 
  &:nth-child(21n+14),
  &:nth-child(21n+15),
  &:nth-child(21n+16),
  &:nth-child(21n+17),
  &:nth-child(21n+18),
  &:nth-child(21n+19),
  &:nth-child(21n+20),
  &:nth-child(21n+21) {
    clear: none; } }
.nth_#{$viewport}_22 {
  &:nth-child(22n+2), 
  &:nth-child(22n+3), 
  &:nth-child(22n+4), 
  &:nth-child(22n+5), 
  &:nth-child(22n+6), 
  &:nth-child(22n+7), 
  &:nth-child(22n+8), 
  &:nth-child(22n+9), 
  &:nth-child(22n+10), 
  &:nth-child(22n+11), 
  &:nth-child(22n+12),
  &:nth-child(22n+13), 
  &:nth-child(22n+14),
  &:nth-child(22n+15),
  &:nth-child(22n+16),
  &:nth-child(22n+17),
  &:nth-child(22n+18),
  &:nth-child(22n+19),
  &:nth-child(22n+20),
  &:nth-child(22n+21),
  &:nth-child(22n+22) {
    clear: none; } }
.nth_#{$viewport}_23 {
  &:nth-child(23n+2), 
  &:nth-child(23n+3), 
  &:nth-child(23n+4), 
  &:nth-child(23n+5), 
  &:nth-child(23n+6), 
  &:nth-child(23n+7), 
  &:nth-child(23n+8), 
  &:nth-child(23n+9), 
  &:nth-child(23n+10), 
  &:nth-child(23n+11), 
  &:nth-child(23n+12),
  &:nth-child(23n+13), 
  &:nth-child(23n+14),
  &:nth-child(23n+15),
  &:nth-child(23n+16),
  &:nth-child(23n+17),
  &:nth-child(23n+18),
  &:nth-child(23n+19),
  &:nth-child(23n+20),
  &:nth-child(23n+21),
  &:nth-child(23n+22),
  &:nth-child(23n+23) {
    clear: none; } }
.nth_#{$viewport}_24 {
  &:nth-child(24n+2), 
  &:nth-child(24n+3), 
  &:nth-child(24n+4), 
  &:nth-child(24n+5), 
  &:nth-child(24n+6), 
  &:nth-child(24n+7), 
  &:nth-child(24n+8), 
  &:nth-child(24n+9), 
  &:nth-child(24n+10), 
  &:nth-child(24n+11), 
  &:nth-child(24n+12),
  &:nth-child(24n+13), 
  &:nth-child(24n+14),
  &:nth-child(24n+15),
  &:nth-child(24n+16),
  &:nth-child(24n+17),
  &:nth-child(24n+18),
  &:nth-child(24n+19),
  &:nth-child(24n+20),
  &:nth-child(24n+21),
  &:nth-child(24n+22),
  &:nth-child(24n+23),
  &:nth-child(24n+24) {
    clear: none; } }
.nth_#{$viewport}_1, 
.nth_#{$viewport}_2:nth-child(2n+1), 
.nth_#{$viewport}_3:nth-child(3n+1), 
.nth_#{$viewport}_4:nth-child(4n+1), 
.nth_#{$viewport}_5:nth-child(5n+1), 
.nth_#{$viewport}_6:nth-child(6n+1), 
.nth_#{$viewport}_7:nth-child(7n+1), 
.nth_#{$viewport}_8:nth-child(8n+1), 
.nth_#{$viewport}_9:nth-child(9n+1), 
.nth_#{$viewport}_10:nth-child(10n+1), 
.nth_#{$viewport}_11:nth-child(11n+1), 
.nth_#{$viewport}_12:nth-child(12n+1), 
.nth_#{$viewport}_13:nth-child(13n+1), 
.nth_#{$viewport}_14:nth-child(14n+1), 
.nth_#{$viewport}_15:nth-child(15n+1), 
.nth_#{$viewport}_16:nth-child(16n+1), 
.nth_#{$viewport}_17:nth-child(17n+1), 
.nth_#{$viewport}_18:nth-child(18n+1), 
.nth_#{$viewport}_19:nth-child(19n+1), 
.nth_#{$viewport}_20:nth-child(20n+1), 
.nth_#{$viewport}_21:nth-child(21n+1), 
.nth_#{$viewport}_22:nth-child(22n+1), 
.nth_#{$viewport}_23:nth-child(23n+1), 
.nth_#{$viewport}_24:nth-child(24n+1) {
  clear: both; }
//zero out padding
.zero_p_#{$viewport} {
  padding: 0; } 
.zero_p_#{$viewport}_r {
  padding: $gutter / 2; }
.zero_p_#{$viewport}_top {
  padding-top: 0; }
.zero_p_#{$viewport}_right {
  padding-right: 0; }
.zero_p_#{$viewport}_bottom {
  padding-bottom: 0; }
.zero_p_#{$viewport}_left {
  padding-left: 0; }
.zero_p_#{$viewport}_v {
  padding-top: 0;
  padding-bottom: 0;}
.zero_p_#{$viewport}_h {
  padding-right: 0;
  padding-left: 0;}
//zero out margin
.zero_m_#{$viewport} {
  margin: 0; } 
.zero_m_#{$viewport}_top {
 margin-top: 0;}
.zero_m_#{$viewport}_right {
 margin-right: 0;}
.zero_m_#{$viewport}_bottom {
 margin-bottom: 0;}
.zero_m_#{$viewport}_left {
 margin-left: 0;}
.zero_m_#{$viewport}_v {
  margin-top: 0;
  margin-bottom: 0;}
.zero_m_#{$viewport}_h {
  margin-right: 0;
  margin-left: 0;}
.zero_m_#{$viewport}_r {
  margin: $gutter / 2 }
//text align
.center_#{$viewport}_align  {
  text-align: center; }
.left_#{$viewport}_align {
  text-align: left; }
.right_#{$viewport}_align  {
  text-align: right; }
//floats
.left_#{$viewport}_float {
  float: left; }
.right_#{$viewport}_float {
  float: right; }