html {
    -webkit-text-size-adjust: none !important; /* Prevent font scaling in landscape */
}

$base-font-size: $base-size;
$base-line-height: $base-line;
@include establish-baseline;
body {
	color: $body-text-color;
	font: {
		family: $body-font-family;
		weight: $body-weight;
		style: $body-style;
	}
	background-color: $body-color;
	font-smoothing: font-smoothing;
}
p, pre, blockquote, address, ul {
}
h1, .h1 {
	color: $h1-color;
	font: {
		family: $h1-font-family;
		weight: $h1-weight;
		style: $h1-style;
	}
	@include adjust-font-size-to($h1-size);
}
h2, .h2 {
	color: $h2-color;
	font: {
		family: $h2-font-family;
		weight: $h2-weight;
		style: $h2-style;
	}
	@include adjust-font-size-to($h2-size);
}
h3, .h3 {
	color: $h3-color;
	font: {
		family: $h3-font-family;
		weight: $h3-weight;
		style: $h3-style;
	}
	@include adjust-font-size-to($h3-size);
}
h4, .h4 {
	color: $h4-color;
	font: {
		family: $h4-font-family;
		weight: $h4-weight;
		style: $h4-style;
	}
	@include adjust-font-size-to($h4-size);
}
h5, .h5 {
	color: $h5-color;
	font: {
		family: $h5-font-family;
		weight: $h5-weight;
		style: $h5-style;
	}
	@include adjust-font-size-to($h5-size);
}
h6, .h6 {
	color: $h6-color;
	font: {
		family: $h6-font-family;
		weight: $h6-weight;
		style: $h6-style;
	}
	@include adjust-font-size-to($h6-size);
}
p {
	color: $p-color;
	font: {
		family: $p-font-family;
		weight: $p-weight;
		style: $p-style;
	}
	@include adjust-font-size-to($p-size);
}
a {
	@include hover-link;
	@include link-colors ($link-normal-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
}
blockquote {

}
pre {
	border: $pre-border;
	background-color: $pre-bg-color;
	padding: $base-size;
	@include margin-leader();
}
code {
	color: $pre-color;
	font: {
		family: $pre-font-family;
		weight: $pre-weight;
		style: $pre-style;
	}
	background: $highlight-color;
	padding: .1em;
	border: $border04;
	overflow: hidden;
	@include border-radius (3px);
}
nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
dd {
	margin-left:1.5em;
}
abbr, acronym {
	border-bottom: $abbr-border;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
address {
	color: $address-color;
	font: {
		family: $address-font-family;
		weight: $address-weight;
		style: $address-style;
	}
	p {
		color: $address-color;
		font: {
			family: $address-font-family;
			weight: $address-weight;
			style: $address-style;
	}
	}
	@include adjust-font-size-to($address-size);
}
small {
	@include adjust-font-size-to($base-size / 100 * 80);
}