//settings

//baseline settings
$base-size: 16px;
$base-line: 25px;
//grid settings
$grid-columns: 12; //select the number of columns in the grid
$margin: 2%;
$padding: 2%;
$gutter: $margin;

//break points
$wide_break: 440px;
$tablet_break: 768px;
$desktop_break: 960px;
$super_break: 1232px;

//container widths
//If you want to have adaptive then uncomment the lines for adaptive and comment the responsive lines.

//responsive
$mobile_width: 96%;
$wide_width: 96%;
$tablet_width: 96%;
$desktop_width: 96%;
$super_width: 96%;

//adaptive
//$mobile_width: 320px;
//$wide_width: $wide_break;
//$tablet_width: $tablet_break;
//$desktop_width: $desktop_break;
//$super_width: $super_break;

//colors
$color01: #fcfcfc; // Almost White
$color02: #e36e25; // Orange
$color03: #8ba0a0; // Murky Green/Blue
$color04: #5f707a; // Dark Blue
$color05: #303030; // Almost Black
$body-color: $color01;
$heading-color: $color05;
$text-color: $color05;
$alert-color: #ce0006;
$highlight-color: #ffffff;
$black: #000000;
$white: #ffffff;
$light-edge: rgba(#fff, .5);
$dark-edge: rgba(#000, .5);
$link-normal-color: $color05;
$link-hover-color: lighten($link-normal-color, 10%);
$link-active-color: lighten($link-normal-color, 10%);
$link-visited-color: $link-normal-color;
$link-focus-color: lighten($link-normal-color, 10%);
$pre-bg-color: #ffffff;

//borders
//example: [ solid 1px #99999 ] or [ solid 1px $color-03 ]
$border01: solid 1px darken($body-color, 4%);
$border02: none;
$border03: none;
$border04: none;

//font settings
//font families
$heading-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$mono-font-family: 'Courier New', Courier, monospace;
//baseline

$font-smoothing: antialiased;
//font elements
//body
$body-text-color: $text-color;
$body-weight: 300;
$body-style: normal;
//h1
$h1-size: 24px;
$h1-color: $heading-color;
$h1-font-family: $heading-font-family;
$h1-weight: 300;
$h1-style: normal;
//h2
$h2-size: 22px;
$h2-color: $heading-color;
$h2-font-family: $heading-font-family;
$h2-weight: 300;
$h2-style: normal;
//h3
$h3-size: 20px;
$h3-color: $heading-color;
$h3-font-family: $heading-font-family;
$h3-weight: 300;
$h3-style: normal;
//h4
$h4-size: 18px;
$h4-color: $heading-color;
$h4-font-family: $heading-font-family;
$h4-weight: 300;
$h4-style: normal;
//h5
$h5-size: 16px;
$h5-color: $heading-color;
$h5-font-family: $heading-font-family;
$h5-weight: 300;
$h5-style: normal;
//h6
$h6-size: 14px;
$h6-color: $heading-color;
$h6-font-family: $heading-font-family;
$h6-weight: 300;
$h6-style: normal;
//p
$p-size: $base-size;
$p-color: $body-text-color;
$p-font-family: $body-font-family;
$p-weight: 300;
$p-style: normal;
//pre
$pre-size: $base-size;
$pre-color: $text-color;
$pre-font-family: $mono-font-family;
$pre-weight: 300;
$pre-style: normal;
$pre-border: $border01;
//abbr, acronym
$abbr-border: 1px dotted darken($body-color, 30%);
//address
$address-size: $base-size;
$address-color: $body-text-color;
$address-font-family: $body-font-family;
$address-weight: 300;
$address-style: italic !important;
//form settings
$form-font: $body-font-family; //Arial, "Liberation Sans", FreeSans, sans-serif;